.entry__rect_required::after {
  content: " *";
  font-size: 1.5rem;
  color: red;
  top: auto;
}

label::after [value="choice"] {
  content: none;
}

.FormControlLabel {
  padding-top: 10px;
}

.entry__radio {
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 12px;
}

.entry__field {
  width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
  border: oldlace;
  float: left;
  height: 100%;
}

.entry__btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 1rem;
}

input.entry__btn1 {
  margin-top: 13px;
  padding: 4px 10px;
  font-size: 1.8rem;
  background-color: #2ccc71;
  border: none;
  width: 101%;
  color: white;
}

/*iphone*/

@media screen and (min-width: 320px) {
  .entry {
    display: flex;
    flex-direction: column;
    align-items: centers;
    justify-content: center;
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding: 0;
  }
  label {
    padding: 0px 5px 2px 0;
    float: left;
    font-size: 0.55em;
  }
  .entry__row,
  .entry__row_area {
    width: 100%;
    outline: none;
    padding: 1.5rem rem;
    margin-bottom: 1.3rem;
    margin-top: 0.5rem;
    transition: 0.3s;
    font-size: 1.8em;
    height: 8%;
  }
  input[type="radio"] + label {
    font-size: 0.9em;
    padding-top: 0px;
    padding-left: 5px;
  }
  .entry__label,
  .entry__item {
    width: 100%;
    margin-top: 0%;
  }
  .entry__field {
    font-size: 1.5em;
    padding: 2%;
  }
  .entry__form {
    width: 80%;
    padding: 10px;
    height: 85%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0 10% 10%;
    border-radius: 2px;
  }
  .entry__title {
    font-size: 2em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 8%;
  }
  .entry__label {
    float: left;
    margin-top: 6px;
    display: block;
    text-align: left;
    font-size: 1.5em;
  }
  .entry__btn {
    margin: 3% 0% 3% 0%;
    font-size: 1.5em;
    padding: 0.5rem 0.5rem;
  }
  .entry__error {
    color: red;
    line-height: 1.5em;
    font-size: 1.3em;
    text-align: center;
  }
  input[type="radio"] {
    float: left;
    margin: 4px 5px;
  }
}

/*ipad*/

@media only screen and (min-width: 768px) {
  .entry {
    display: flex;
    flex-direction: column;
    align-items: centers;
    justify-content: center;
    height: 1024px;
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0px 0;
  }
  label {
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    float: left;
    font-size: 0.55em;
  }
  input[type="radio"] + label {
    font-size: 0.9em;
    padding: 0px 5px;
  }
  .entry__row,
  .entry__row_area {
    width: 100%;
    outline: none;
    padding: 1rem rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    transition: 0.3s;
    font-size: 1.8em;
    height: 7%;
  }
  .entry__row_area {
    height: 10%;
  }
  .entry__row_area .entry__label {
    padding-top: 10px;
  }
  .entry__title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 6%;
  }
  .entry__form {
    width: 80%;
    height: 90%;
    padding: 15px 20px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0% 10% 7% 10%;
    border-radius: 2px;
  }
  .entry__field {
    font-size: 1.9em;
    padding: 8px 12px;
  }
  .entry__item {
    float: right;
    width: 64%;
    margin-top: 2px;
    background-color: #eeeeee;
    height: 70%;
  }
  .entry__label {
    float: left;
    width: 33%;
    margin-top: 2px;
    height: 70%;
    display: block;
    text-align: left;
    background-color: #eeeeee;
    font-size: 1.8em;
  }
  input.entry__btn1 {
    margin-top: -12px !important;
    padding: 12px 35px !important;
    font-size: 2rem !important;
  }
  .entry__error {
    color: red;
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: left;
  }
}

/*desktop*/

@media screen and (min-width: 1024px) {
  .entry {
    display: flex;
    flex-direction: column;
    align-items: centers;
    justify-content: center;
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0px 0;
  }
  label {
    padding-top: 0.7rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    float: left;
    font-size: 0.55em;
  }
  input[type="radio"] + label {
    font-size: 2em;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
  }
  .entry__title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  .entry__row,
  .entry__row_area {
    width: 100%;
    outline: none;
    padding: 1.5rem rem;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
    transition: 0.3s;
    font-size: 1.8em;
    height: 8%;
  }
  .entry__row_area {
    height: 10%;
  }
  .entry__form {
    width: 60%;
    height: 90%;
    padding: 15px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0% 20% 5% 20%;
    border-radius: 2px;
  }
  .entry__field {
    font-size: 2em;
    padding: 0.5%;
  }
  .entry__label {
    float: left;
    width: 38%;
    margin-top: 6px;
    height: 70%;
    display: block;
    text-align: left;
    background-color: #eeeeee;
    font-size: 2em;
  }
  .entry__item {
    float: right;
    width: 60%;
    margin-top: 6px;
    padding: 0 10px;
    background-color: #eeeeee;
    height: 70%;
  }
  input.entry__btn1 {
    border: none;
    background-color: #27ae60;
  }
  input.entry__btn1:hover {
    border: none;
    background-color: #03c253;
  }
  .entry__error {
    color: red;
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: left;
  }
  .entry__row_area .entry__label {
    padding-top: 7px;
  }
  input[type="radio"] {
    float: left;
    margin: 15px 10px;
  }
  input[type="radio"] + label {
    font-size: 0.9em;
    padding-top: 8px;
    padding-left: 5px;
  }
}
