.entry {
  display: flex;
  flex-direction: column;
  align-items: centers;
  justify-content: center;
  height: 100vh;
}
.entry__row {
  width: 100%;
  outline: none;
  padding: 1rem rem;
  margin-bottom: 10px;
  transition: 0.3s;
  font-size: 1.8em;
}
label {
  padding: 0px 5px 5px 0;
  float: left;
}

.entry__label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.entry__item {
  float: left;
  width: 75%;
  margin-top: 6px;
  height: 30px;
}

.entry__field {
  width: 100%;
  padding: 0.3rem 1rem;
  margin-bottom: 10px;
  background-color: #eeeeee;
  border: oldlace;
  float: left;
}
.isrepuire {
  color: #3c64b1;
}

.entry__btn {
  margin: 5px 0 10px 0;
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.8em;
}

.entry__btn:hover {
  background-color: #27ae60;
}
@media screen and (max-width: 600px) {
  .entry__label,
  .entry__item,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .entry {
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding: 0;
  }
  form {
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0 10%;
    border-radius: 25px;
  }
  .entry__title {
    font-size: 2.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .entry {
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0px 0;
  }
  .entry__title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  form {
    width: 50%;
    padding: 15px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0 30%;
    border-radius: 25px;
  }
}
