/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .relationship__description {
    text-align: justify;
  }
  .relationship__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    padding-bottom: 30px;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .relationship__description {
    text-align: justify;
  }
  .relationship__img {
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .relationship {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px;
  }
  .relationship__block1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .relationship__block2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 6%;
  }

  .relationship__description {
    text-align: justify;
    width: 120;
  }
  .relationship__img {
    padding-top: 120px;
    padding-bottom: 40px;
    display: block;
    width: 75%;
    height: auto;
  }
}
