/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .relationship__description {
    padding: 30px;
    text-align: justify;
    font-size: 1.4em;
  }
  .relationship__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    padding-bottom: 30px;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .relationship__description {
    text-align: justify;
    font-size: 2em;
  }
  .relationship__img {
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .relationship {
    display: table;
    width: 100%;
  }

  .relationship__block {
    display: table-cell;
    padding: 1rem;
  }

  /* flexbox */

  .f-grid {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    flex-flow: row wrap;
  }

  .f-grid-relationship__block {
    flex: 1 0;
    background-color: green;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  /* .relationship__description {
    padding-bottom: 20px;
    text-align: justify;
    font-size: 2em;
  }
  .relationship__img {
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  } */
}
