/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .relationship__description {
    text-align: justify;
  }
  .relationship__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    padding-bottom: 30px;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .relationship__description {
    text-align: justify;
  }
  .relationship__img {
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .relationship {
    padding-top: 30px;
    background-color: #eff9ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px;
  }
  .relationship__block1 {
    padding-top: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .relationship__block2 {
    padding-top: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
  }
  .relationship__description {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.8em;
    width: 420px;
    height: 347px;
    margin-left: 12%;
    word-break: break-word;
    text-align: center;
  }
  .relationship__img {
    display: block;
    padding-top: 40px;
    height: 70%;
    object-fit: cover;
  }
}
