/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .relationship__description {
    padding: 30px 40px;
    text-align: justify;
    font-size: 1.4em;
    opacity: 0.8;
  }
  .relationship__img {
    display: block;
    width: 200px;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .relationship__description {
    text-align: justify;
    font-size: 1.7em;
    opacity: 0.8;
  }
  .relationship__img {
    display: block;
    width: 300px;
    height: 150px;
    margin: auto;
    margin-bottom: 45px;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .relationship {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px;
  }
  .relationship__block1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .relationship__block2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }
  .relationship__description {
    text-align: justify;
    font-size: 1.8em;
    opacity: 0.8;
  }
  .relationship__img {
    display: block;
    width: 350px;
    height: 190px;
    margin: 17% 0% 10% 10%;
  }
}
