.AgileTeamComposition-List {
  width: 80%;
  height: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid;
  box-shadow: 1px gray;
  margin: 10% auto;
  color: #ffffff;
}

.AgileTeamComposition-List__img {
  width: 100%;
  height: 30vh;
}

.Agile-img {
  height: 100%;
}

.AgileTeamComposition-List__text {
  width: 100%;
  height: auto;
  padding: auto 10%;
  background-color: #00000063;
  position: absolute;
  transform: rotate(50deg);
  transform: scale(0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.AgileTeamComposition-List:hover div.AgileTeamComposition-List__text {
  transform: rotate(0deg);
  height: 60%;
  top: 20%;
  opacity: 1;
  transition-delay: 3.3s;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .AgileTeamComposition-List__img {
    height: 70vh;
  }
}
