* {
  margin: 0;
  padding: 0;
}
.agileTeamComposition {
  height: auto;
}
.agileTeamComposition__title {
  background: url("../../../images/service-agile.png") no-repeat 0% 100%;
  background-size: cover;
  height: 25vh;
}
.agileTeamComposition__title h3 {
  padding-top: 23%;
}
.agileTeamComposition__description {
  width: 80%;
  margin: auto;
  padding-bottom: 7%;
  padding-top: 10%;
}
.agileTeamComposition__description p {
  font-size: 1.4em;
}
.agileTeamComposition hr {
  margin: auto;
}

.items-container {
  width: 80%;
  height: auto;
  margin: 10% auto;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

.items-container .AgileTeamComposition-List {
  z-index: 2;
}

/* Color Item */
.items-container:nth-child(1) div .AgileTeamComposition-List__text {
  background-color: rgba(20, 114, 238, 0.5);
}
.items-container:nth-child(2) div .AgileTeamComposition-List__text {
  background-color: rgba(142, 185, 21, 0.5);
}
.items-container:nth-child(3) div .AgileTeamComposition-List__text {
  background-color: rgba(247, 86, 37, 0.5);
}
.items-container:nth-child(4) div .AgileTeamComposition-List__text {
  background-color: rgba(252, 66, 242, 0.5);
}
.items-container:nth-child(1) .items-content {
  background-color: #6a9bba;
}
.items-container:nth-child(2) .items-content {
  background-color: #bab46a;
}
.items-container:nth-child(3) .items-content {
  background-color: #ba6a6a;
}
.items-container:nth-child(4) .items-content {
  background-color: #ae6aba;
}

.items-content {
  width: 114%;
  overflow: hidden;
  height: 95%;
  border: 2px gainsboro;
  color: #fff;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  margin: 10% auto;
}
.items-content p {
  font-size: 1.5em;
  font-family: "din-2014", sans-serif;
}
/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .agileTeamComposition__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .agileTeamComposition__title h3 {
    padding-top: 19%;
  }
  .agileTeamComposition__title {
    height: 30vh;
  }
  .agileTeamComposition__description p {
    font-size: 1.8em;
  }
  .items-content p {
    font-size: 1.7em;
  }
}

/* Deskstop */
@media only screen and (min-width: 1025px) {
  .agileTeamComposition__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .agileTeamComposition__title {
    height: 90vh;
  }
  .agileTeamComposition__title h3 {
    padding-top: 24%;
  }
  .agileTeamComposition__description p {
    font-size: 2.2em;
  }
  .items-content p {
    font-size: 2.5em;
    padding-bottom: 1%;
  }
}
