* {
  margin: 0;
  padding: 0;
}
.agileTeamComposition {
  height: auto;
}

.agileTeamComposition__title {
  background: url("../../../images/service__agile.jpg") no-repeat 0% 100%;
  background-size: cover;
  height: 25vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.agileTeamComposition__title h3 {
  padding: 0;
  position: absolute;
  top: 40%;
  width: 80%;
}
.agileTeamComposition__description {
  width: 80%;
  margin: auto;
  padding-bottom: 7%;
  padding-top: 5%;
  letter-spacing: 1px;
}
.agileTeamComposition__description p {
  font-size: 1.4em;
}
.agileTeamComposition hr {
  margin: -5% auto;
}

.items-container {
  width: 80%;
  height: auto;
  margin: 10% auto;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

.items-container .AgileTeamComposition-List {
  z-index: 2;
}

/* Color Item */
.items-container:nth-child(1) div .AgileTeamComposition-List__text {
  background-color: rgba(142, 185, 21, 0.5);
}
.items-container:nth-child(2) div .AgileTeamComposition-List__text {
  background-color: rgba(20, 114, 238, 0.5);
}
.items-container:nth-child(3) div .AgileTeamComposition-List__text {
  background-color: rgba(247, 86, 37, 0.5);
}
.items-container:nth-child(4) div .AgileTeamComposition-List__text {
  background-color: rgba(252, 66, 242, 0.5);
}

.items-content {
  width: 114%;
  overflow: hidden;
  height: 100%;
  box-shadow: 5px 5px -4px 5px grey;
  color: #0648b3;
  font-weight: bold;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4%;
}
.items-content p {
  font-size: 1.5em;
  font-family: "Bad Script", cursive;
}
/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .agileTeamComposition__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .agileTeamComposition__description {
    padding: 0;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .agileTeamComposition__description p {
    font-size: 1.8em;
  }
  .items-content p {
    font-size: 1.7em;
    padding-bottom: -5%;
  }
  .agileTeamComposition hr {
    margin: -2% auto;
  }
  .items-container:nth-child(3) {
    margin: 5% auto 5% auto;
  }
  .items-container:nth-child(4) {
    margin: 5% auto 5% auto;
  }
  .items-container {
    margin: 10% auto 0% auto;
  }
}

/* Deskstop */
@media only screen and (min-width: 1025px) {
  .agileTeamComposition__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .agileTeamComposition__title {
    height: 60vh;
  }
  .agileTeamComposition__title h3 {
    font-size: 4.5em;
  }
  .agileTeamComposition__description {
    padding: 0;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .agileTeamComposition__description p {
    font-size: 2.1em;
    width: 90%;
    margin: auto;
  }
  .items-content p {
    font-size: 2.5em;
  }
  .agileTeamComposition hr {
    margin: -2% auto;
  }
  .items-container:nth-child(3) {
    margin: 5% auto 10% auto;
  }
  .items-container:nth-child(4) {
    margin: 5% auto 10% auto;
  }
  .items-container:nth-child(1) .items-content p {
    padding-bottom: 3%;
  }
  .items-container:nth-child(2) .items-content p {
    padding-bottom: 3%;
  }
  .items-container {
    margin: 10% auto 0% auto;
  }
  .agileTeamComposition__items {
    width: 85%;
    margin: auto;
  }
  .items-content {
    top: 6%;
  }
}
