.agile-sub-content{
    grid-area: imgbg;
    background: transparent url("../../../images/Service/servicePH.jpg")
    0% 0% no-repeat padding-box;
    background-size: cover;
    height: 180px;
    object-fit: cover;
}
.agile-sub-content__title{
    color: #3c64b1;
    padding-top: 6%;
    font-size: 1.5em;
    font-weight: bold;
}
.agile-sub-content__description{
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 1px;
    width: 80%;
    margin: 2% auto;
    opacity: 0.8;
}