:root {
  --service-page-header-img-height: 50vh;
}

.service-page-header {
  background-color: #eff3fa;
  margin-top: var(--header-menu-height);
  height: calc(100vh - var(--header-menu-height));
  min-height: 400px;
}

.service-page-header__content {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-page-header__title {
  color: #3c64b1;
  font-weight: bold;
  text-align: center;
}

.service-page-header__description {
  color: #373f41;
  text-align: center;
}

.service-page-header__img {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.service-page-header__sub-description-wrapper {
  position: relative;
  height: 25%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-page-header__sub-description {
  color: #373f41;
  width: 90%;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .service-page-header__title {
    font-size: 3.5em;
  }

  .service-page-header__description {
    font-size: 1.5em;
    width: 80%;
  }

  .service-page-header__sub-description {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .service-page-header__title {
    font-size: 4em;
  }

  .service-page-header__description {
    font-size: 2em;
    width: 80%;
  }

  .service-page-header__sub-description {
    font-size: 2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service-page-header__title {
    font-size: 5em;
  }

  .service-page-header__description {
    font-size: 2.5em;
    width: 80%;
  }

  .service-page-header__sub-description {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 992px) {
  .service-page-header__title {
    font-size: 3.3em;
  }

  .service-page-header__description {
    font-size: 3em;
  }

  .service-page-header__sub-description {
    font-size: 2.8em;
  }
}
