.web-application__title {
  padding: 0 15%;
  text-align: center;
}
.web-application__desciption > p {
  padding: 0 12%;
  text-align: center;
}
.web-application__items {
  margin: 0 auto;
  width: 80%;
  height: 350px;
  background-color: #eff9ff;
}
.web-application__items-description {
  padding-left: 20%;
}
.web-application__items span {
  font-size: 2em;
}
.web-application__item {
  margin: 5%;
  padding-top: 10%;
  padding-left: 5%;
}
.web-application__items-icon {
  font-weight: bold;
  text-decoration: underline #0489b1;
}
.web-application__sub-description {
  text-align: center;
  margin: 5% 12%;
}
.web-application__sub-description p,
.web-application__sub-description span {
  font-size: 1.4em;
}
.web-application__sub-description a {
  text-decoration: none;
  font-size: 1.1em;
}
/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .web-application__desciption > p {
    font-size: 2.2em;
  }
  .web-application__items span {
    font-size: 1.8em;
  }

  .web-application__sub-description p,
  .web-application__sub-description span {
    font-size: 2.2em;
  }
}
/* Ipad Pro and Desktop */
@media screen and (min-width: 1024px) {
  /* .web-application__items-description > p {
    font-size: 2.2em;
  }
  .web-application__sub-description p,
  .web-application__sub-description span {
    font-size: 2.2em;
  } */
}
