/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .description {
    font-size: 1.4em;
    /* text-align: center; */
    padding: 3% 15%;
    opacity: 0.9;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .description {
    font-size: 1.8em;
    /* text-align: center; */
    padding: 3% 10%;
    opacity: 0.9;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .description {
    font-size: 1.8em;
    /* text-align: center; */
    padding: 2% 5%;
    opacity: 0.9;
  }
}
