@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.4em;
    font-family: Roboto;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 720px) {
  .title {
    font-size: 1.8em;
    font-family: Roboto;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }
}
