:root {
  --header-menu-height: 68px;
  --page-header-img-height: 500px;
}

.page-header {
  margin-top: var(--header-menu-height);
  height: calc(100vh - var(--header-menu-height));
  background-color: #eff9ff;
}

.page-header__banner {
  position: relative;
}

.page-header__img {
  height: var(--page-header-img-height);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.4;
}

.page-header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-header__title {
  text-align: left;
  font: normal normal bold 48px/63px Roboto;
  letter-spacing: 0px;
  color: #2d5ebe;
}

.page-header__description {
  text-align: center;
  font: normal normal normal 24px/32px Roboto;
  letter-spacing: 0.34px;
  color: #373f41;
}

.page-header__sub-description-wrapper {
  width: 80%;
  margin: auto;
  height: calc(
    100vh - var(--page-header-img-height) - var(--header-menu-height)
  );
  display: flex;
  align-items: center;
}

.page-header__sub-description {
  text-align: center;
  font: normal normal normal 24px/32px Roboto;
  letter-spacing: 0px;
  color: #373f41;
  line-height: 50px;
}
