.tech-page-header {
    background-color: aquamarine;
}

.tech-page-header__title {
    font-size: 3em;
    text-align: center;
    padding: 2rem;
}

.tech-page-header__description {
    font-size: 1.8em;
    padding: 3rem 4rem;
    text-align: center;
}

.tech-page-header__img {
    background-color: white;
    display: flex;
    justify-content: center;
}

.tech-image {
    max-width: 80%;
}

@media screen and (min-width: 320px) {}