.tech-page-header {
  background-color: #eff9ff;
  height: calc(100vh - var(--header-menu-height));
  display: flex;
  flex-direction: column;
}
.tech-page-header__block1 {
  height: 60%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.tech-page-header__block2 {
  height: 40%;
  display: flex;
  align-items: center;
}
.tech-page-header__title {
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem;
  color: #3c64b1;
}

.tech-page-header__img {
  background-image: linear-gradient(to right, #032637, #36505d);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.tech-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.strong-decs {
  font-size: 1.7rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.tech-page-header__description {
  font-size: 1.5rem;
  padding: 0rem 5rem;
  text-align: center;
  line-height: 3rem;
}

@media screen and (min-width: 768px) {
  .tech-page-header__title {
    font-size: 4rem;
    padding: 0.5rem;
  }
  .tech-page-header__description {
    font-size: 2rem;
    padding: 0rem 6rem;
    line-height: 4.5rem;
  }
  .strong-decs {
    font-size: 2.5rem;
  }
  .tech-img {
    height: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .tech-page-header__block1 {
    height: 70%;
  }
  .tech-page-header__block2 {
    height: 30%;
  }
  .tech-page-header__description {
    font-size: 2.4rem;
    padding: 0 10%;
  }
  .strong-decs {
    font-size: 3rem;
  }
  .tech-img {
    width: 100%;
    height: 100%;
  }
}
