.breadcrumb {
  list-style: none;
}
.breadcrumb li {
  display: inline;
  font-size: 1.4em;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
