.breadcrumb {
  list-style: none;
}
.breadcrumb .breadcrumb__list {
  display: inline;
  font-size: 1em;
}
.breadcrumb__list + .breadcrumb__list:before {
  padding: 3%;
  color: black;
  content: "/\00a0";
}
.breadcrumb__list a {
  color: #0275d8;
  text-decoration: none;
  font-size: 1em;
}
