.director-page-header {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}
.director-page-header__img {
  height: 80vh;
  background: url("../../../../images/recuit__director.jpg") transparent center
    right no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.director-page-header__content {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.director-page-header__content-text {
  position: absolute;
  width: 80%;
  left: 5%;
}
h2 {
  color: white;
  font-size: 2em;
}
p {
  color: white;
  font-size: 1.4em;
}
