/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .memberIntro__items {
    padding: 0%;
  }
  .memberIntro {
    margin: auto;
    padding: 0px 30px 30px 30px;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .memberIntro__items {
    padding: 0% 3%;
  }
  .memberIntro {
    margin: auto;
    padding: 0px 30px 30px 30px;
  }
}
/*Ipad horizontal(1024 x 768)*/
@media screen and (min-width: 1024px) {
  .memberIntro__items {
    padding: 0% 5%;
  }
  .memberIntro {
    margin: auto;
    padding: 0px 10px 40px 10px;
  }
}

/*style for common*/
.memberIntro__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
