/*Iphone(480 x 640)*/
@media screen and (min-width: 320px){
  .memberIntro__items{
    padding: 0%; 
  }
}
/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px){
  .memberIntro__items{
    padding: 0% 8%; 
  }
}
/*Ipad horizontal(1024 x 768)*/
@media screen and (min-width: 1024px){ 
  .memberIntro__items{
    padding: 0% 5%; 
  } 
}
.memberIntro{
  margin-bottom: 40px; 
} 
.memberIntro__items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
}