.member-characteristic {
  background: #eff9ff 0% 0% no-repeat padding-box;
  padding-bottom: 60px;
}

.member-characteristic__items p {
  font-size: 1.4em;
  opacity: 0.8;
}
.member-characteristic__items-title {
  height: 120px;
  width: 120px;
  border-radius: 50% 50%;
  position: relative;
  margin: 45px auto 15px auto;
  opacity: 0.8;
  
}

.member-characteristic__items--border-yellow {
  border: 4px solid #ebcf76;
}
.member-characteristic__items--border-green {
  border: 4px solid #40948b;
}
.member-characteristic__items--border-blue {
  border: 4px solid #3644d6;
}
.member-characteristic__items-title > p {
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.member-characteristic__items > div > p {
  text-align: justify;
}
/* Mobile*/
@media only screen and (max-width: 768px) {
  .member-characteristic__items > div > p {
    margin: 0 45px;
    /* opacity: 0.8; */
  }
  .member-characteristic .description {
    padding: 5% 10%;
  }
}
/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .member-characteristic__items {
    margin: 0 65px;
    font-size: 1.8em;
  }
  .member-characteristic__items-title {
    height: 180px;
    width: 180px;
    border-width: 10px;
  }
  .member-characteristic__items-title > p {
    font-size: 2em;
  }
  .member-characteristic__items > div > p {
    font-size: 2em;
    margin: 0 30px;
    opacity: 0.8;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  p.description {
    margin: 0 90px;
  }
  .member-characteristic__items--inline {
    display: table-cell;
    width: 33%;
  }
  .member-characteristic__items-title:hover {
    box-shadow: 0 0 6px rgb(35 173 255);
    opacity: 1;
    border-width: 8px;
  }
}
