/*Iphone(480 x 640)*/
@media screen and (min-width: 320px){
  .memberIntro{
    margin-bottom: 40px; 
  }
  .memberIntro__description{
    font-size: 1.4em;
    padding: 15px 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    color: #373F41;
    opacity: 1  
  }  
  .memberIntro__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px){
  .memberIntro{
    margin-bottom: 40px; 
  }
  .memberIntro__description{
    font-size: 2em;
    padding: 2% 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    color: #373F41;
    opacity: 1  
  }  
  .memberIntro__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0% 8%; 
  }

}
/*Ipad horizontal(1024 x 768)*/
@media screen and (min-width: 1024px){
  .memberIntro{
    margin-bottom: 40px; 
  }
  .memberIntro__description{
    font-size: 2em;
    padding: 2% 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    color: #373F41;
    opacity: 1  
  }  
  .memberIntro__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 0% 5%; 
  } 
}