.member-characteristic {
  background: #eff9ff 0% 0% no-repeat padding-box;
}
@media only screen and (max-width: 768px) {
  .member-characteristic {
    text-align: center;
    padding-bottom: 60px;
  }
  .member-characteristic__description {
    font-size: 1.4em;
    padding-top: 20px;
    margin: 0 50px;
  }
  .member-characteristic__items {
    padding-top: 20px;
  }
  .member-characterstic__items > div > p {
    font-size: 1.3em;
    margin: 0 30px;
  }
  .member-characterstic__items-title {
    border-radius: 50% 50%;
    position: relative;
    height: 121px;
    width: 121px;
    margin: 40px auto 40px auto;
  }
  .member-characterstic__items--border-red {
    border: 4px solid #de7c7c;
  }
  .member-characterstic__items--border-yellow {
    border: 4px solid #ebcf76;
  }
  .member-characterstic__items--border-green {
    border: 4px solid #40948b;
  }
  .member-characterstic__items--border-blue {
    border: 4px solid #3644d6;
  }
  .member-characterstic__items-title > p {
    font-weight: bold;
    font-size: 1.8em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 768px) {
  .member-characteristic {
  }
  .member-characteristic__description {
    font-size: 1.8em;
  }
  .member-characteristic__items {
  }
  .member-characterstic__items-title {
  }
}
