.mission {
  padding-bottom: 3rem;
}
.mission__block1 {
  padding-bottom: 6%;
}
.mission__title {
  font-size: 2rem;
  color: #3c64b1;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.mission__description {
  font-size: 1.8rem;
  text-align: center;
  padding: 3% 5%;
  opacity: 0.8;
}
.mission__img {
  width: 85%;
  height: 150px;
  margin: auto;
  object-fit: cover;
}

/*Ipad vertical(768 x 1024)*/

@media screen and (min-width: 768px) {
  .mission {
    padding-bottom: 5rem;
  }
  .mission__block1 {
    padding-top: 20px;
    line-height: 1.5;
  }
  .mission__title {
    font-size: 3.5rem;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }
  .mission__description {
    font-size: 2.8em;
    text-align: center;
    padding: 3% 10%;
    opacity: 0.8;
  }
  .mission__img {
    height: 340px;
  }
}

/*desktop*/

@media screen and (min-width: 1024px) {
  .mission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    /* margin: 20px 12%; */
    padding-top: 5%;
  }

  .mission__block1 {
    width: 55%;
    flex-direction: column;
    line-height: 50px;
    margin: auto;
    padding-left: 5%;
  }
  .mission__title {
    font-size: 3em;
    /* font-family: Roboto; */
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }
  .mission__description {
    font-size: 3em;
    padding: 0;
  }

  .mission__block2 {
    width: 45%;
    margin: auto;
    padding: 2% 8% 2% 3%;
  }
  .mission__img {
    display: block;
    width: 100%;
    height: 180px;
    margin: auto;
  }
}
