:root {
  --page-header-img-height: 60vh;
}

.page-header {
  margin-top: var(--header-menu-height);
  height: calc(100vh - var(--header-menu-height));
  background-color: #eff9ff;
}

.page-header__banner {
  position: relative;
}

.page-header__img {
  height: var(--page-header-img-height);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.4;
}

.page-header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.page-header__title {
  text-align: center;
  letter-spacing: 0px;
  color: #2d5ebe;
}

.page-header__description {
  text-align: center;
  letter-spacing: 0.34px;
  color: #373f41;
  font-size: 2em;
}

.page-header__sub-description-wrapper {
  width: 90%;
  margin: auto;
  height: calc(
    100vh - var(--page-header-img-height) - var(--header-menu-height)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__sub-description {
  text-align: justify;
  letter-spacing: 0px;
  color: #373f41;
  line-height: 50px;
  font-size: 2em;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .page-header__banner{
    height: 50%;
  }

  .page-header__img {
    height: 100%;
  }

  .page-header__sub-description-wrapper {
    width: 90%;
    height: 50%;
  }

  .page-header__title {
    text-align: center;
    font-size: 2.5em;
  }

  .page-header__sub-description {
    text-align: justify;
    line-height: 30px;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page-header__banner{
    height: 50%;
  }

  .page-header__img {
    height: 100%;
  }

  .page-header__sub-description-wrapper {
    width: 90%;
    height: 50%;
  }

  .page-header__title {
    font-size: 3em;
  }

  .page-header__description {
    font-size: 2.5em;
  }

  .page-header__sub-description {
    font-size: 2em;
  }

  .page-header__sub-description-wrapper {
    height: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-header__title {
    font-size: 4em;
  }

  .page-header__description {
    font-size: 3em;
  }

  .page-header__sub-description {
    line-height: 45px;
    font-size: 2.2em;
    text-align: justify;
  }

  .page-header {
    margin-top: var(--header-menu-height);
    height: calc(100vh - var(--header-menu-height));
  }

  .page-header__img {
    height: var(--page-header-img-height);
  }

  .page-header__sub-description-wrapper {
    height: calc(
      100vh - var(--page-header-img-height) - var(--header-menu-height)
    );
  }
}

@media only screen and (min-width: 992px) {
  .page-header__title {
    font-size: 6em;
  }

  .page-header__description {
    font-size: 3em;
  }

  .page-header__sub-description {
    line-height: 45px;
    font-size: 2.5em;
  }

  .page-header {
    margin-top: var(--header-menu-height);
    height: calc(100vh - var(--header-menu-height));
  }

  .page-header__img {
    height: var(--page-header-img-height);
  }

  .page-header__sub-description-wrapper {
    height: calc(
      100vh - var(--page-header-img-height) - var(--header-menu-height)
    );
  }
}
