.relationship__description {
  line-height: 30px;
  letter-spacing: 1px;
}
.relationship__description {
  text-align: justify;
  padding: 5% 10%;
  margin-bottom: 0.8rem;
  font-size: 1.4em;
  opacity: 0.8;
}
.relationship__block2 {
  margin-bottom: 4rem;
}
.relationship__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 80px;
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .relationship__description {
    text-align: justify;
    padding: 5% 10%;
    text-align: justify;
    font-size: 1.7em;
    opacity: 0.8;
  }
  .relationship__img {
    width: 45%;
    height: 170px;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .relationship {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px;
  }
  .relationship__block1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .relationship__block2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-top: 2%;
  }
  .relationship__description {
    text-align: justify;
    font-size: 1.8em;
    opacity: 0.8;
  }
  .relationship__img {
    display: block;
    width: 380px;
    height: 250px;
    margin: 10% 0% 10% 10%;
  }
}
