.relationship {
  padding-bottom: 4rem;
}
.relationship__description {
  line-height: 30px;
  letter-spacing: 1px;
}
.relationship__description {
  text-align: justify;
  padding: 5% 10%;
  font-size: 1.4em;
  opacity: 0.8;
}
.relationship__img {
  margin: 0 auto;
  width: 70%;
  height: 130px;
  object-fit: cover;
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .relationship__description {
    font-size: 1.7em;
  }
  .relationship__img {
    margin: 0 auto;
    width: 40%;
    height: 160px;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .relationship {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
  }
  .relationship__block1 {
    width: 50%;
    margin-left: 5%;
  }
  .relationship__block2 {
    width: 50%;
    padding-right: 10%;
    padding-left: 5%;
  }
  .relationship__description {
    font-size: 1.8em;
    padding: 5% 10% 0 10%;
  }
  .relationship__img {
    margin: 0 auto;
    width: 100%;
    height: 210px;
  }
}
