.university {
  position: relative;
  margin-bottom: 2rem;
}
.university:before {
  content: "";
  position: absolute;
  top: 0;
  left: auto;
  width: 100%;
  border: 0.1px solid #000;
}
.university__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: #3c64b1;
  padding: 2rem 0;
}
.university__image img {
  display: block;
  object-fit: cover;
  height: 50px;
  padding: 2rem 0;
  overflow: hidden;
}
.university__desc {
  padding: 2rem 0;
  color: #707070;
}
.university__link {
  padding: 2rem 0;
  font-size: 1.5rem;
  color: #707070;
  text-decoration: none;
  cursor: pointer;
}
