.vision {
  background: #eff9ff 0% 0%  no-repeat padding-box;
  padding: 10% 0;
}
.vision p {
  font-size: 1.4em;
  text-align: center;
}
.vision-header {
  padding-top: 12%;
  padding-bottom: 40%;
  /* opacity: 0.8; */
}
.vision__title {
  font-size: 1.8em;
  color: #3c64b1;
  font-weight: bold;
}
.vision__description p {
  font-size: 2em;
}
.vision__items {
  margin: 0 10%;
}
.vision__items-description p {
  opacity: 0.8;
}
.vision__items-title {
  font-weight: bold;
  color: #ffffff;
  border-radius: 50% 50%;
  position: relative;
  margin: 45px auto 15px auto;
  width: 80px;
  height: 80px;
}
.vision__items-title--bg-blue {
  background-color: #03678d;
}
.vision__items-title--bg-green {
  background-color: #048f51;
}
.vision__items-title--bg-pink {
  background-color: #a1161d;
}
.vision__items-title > p {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Iphone and Ipad */
@media screen and (max-width: 1024px) {
  .vision__title {
    padding: 2% 8%;
    float: left;
    width: 40%;
  }
  .vision__description {
    padding: 3% 8% 3% 0%;
    float: right;
    width: 60%;
  }
  .vision__description p {
    font-size: 1.4em;
  }
}
/* Ipad Style*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .vision p {
    font-size: 2em;
  }
  .vision__title {
    font-size: 2em;
    width: 30%;
    padding-left: 12%;
  }
  .vision__description {
    /* padding: 0 10%; */
    width: 70%;
    padding-left: 3%;
    opacity: 0.8;
    font-size: 1.3em;
  }
  .vision__items-title {
    width: 120px;
    height: 120px;
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  .vision {
    padding: 5% 0;
  }
  .vision p {
    font-size: 2em;
  }
  .vision-header {
    padding-top: 5%;
    padding-bottom: 15%;
  }
  .vision__items {
    padding-top: 2%;
    margin: 0 8%;
  }
  .vision__title {
    padding: 2%;
    font-size: 2.5em;
  }
  .vision__title p {
    font-size: 1.4em;
  }
  .vision__description {
    padding: 0 10%;
    font-size: 1.5em;
  }
  .vision__description p {
    font-size: 1.8em;
  }
  .vision__items-title {
    width: 140px;
    height: 140px;
  }
  .vision__items--inline {
    padding: 0 2%;
    display: table-cell;
    width: 33%;
  }
  .vision__items-title:hover {
    box-shadow: 0 0 6px rgb(35 173 255);
    opacity: 0.8;
  }
}
