.vnUniversity {
  background-color: #eff9ff;
}
.vnUniversity__container .description {
  padding: 3% 10%;
}
@media screen and (min-width: 320px) {
  .vnUniversity__list {
    padding: 0 3rem 1rem 3rem;
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
  .vnUniversity__list {
    padding: 0rem 3rem 1rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  /* .vnUniversity__container {
    margin: 0 auto;
    max-width: 1140px;
  } */
  .vnUniversity__list {
    margin: 0 auto;
    max-width: 1140px;
  }
}
