.worldrecruitristory {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #eff9ff;
}
.worldrecruitristory__description {
  padding-top: 20px;
  padding-bottom: 20px;
}
.worldrecruitristory__img {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 550px) {
  .worldrecruitristory__description {
    font-size: 1.6em;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .worldrecruitristory__img {
    margin-left: auto;
    margin-right: auto;
  }
}
