@media screen and (min-width: 320px) {
  .worldrecruithistory {
    padding-top: 30px;
    background-color: #eff9ff;
  }
  .worldrecruithistory__description {
    font-size: 1.4em;
    text-align: center;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    color: #707070;
    width: 325px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .worldrecruithistory__img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
    padding-bottom: 50px;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  .worldrecruithistory__description {
    font-size: 1.8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #707070;
    width: 620px;
    height: auto;
  }
  .worldrecruithistory__img {
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1024px) {
  .worldrecruithistory {
    background-color: #eff9ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px;
    height: 320px;
  }
  .worldrecruithistory__block1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .worldrecruithistory__block2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
  }
  .worldrecruithistory__description {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.8em;
    width: 420px;
    height: 347px;
    margin-left: 12%;
    word-break: break-word;
    text-align: center;
  }
  .worldrecruithistory__img {
    display: block;
    padding-top: 30px;
    height: 70%;
    object-fit: cover;
  }
}
