.worldrecruithistory {
  padding-bottom: 4rem;
  background-color: #eff9ff;
}
.worldrecruithistory__description {
  line-height: 30px;
  letter-spacing: 1px;
}
.worldrecruithistory__description {
  text-align: justify;
  padding: 5% 10%;
  font-size: 1.4em;
  opacity: 0.8;
}
.worldrecruithistory__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .worldrecruithistory__description {
    font-size: 1.7em;
  }
  .worldrecruithistory__img {
    width: 100%;
    height: 290px;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .worldrecruithistory {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
  }
  .worldrecruithistory__block1 {
    width: 50%;
    margin-left: 5%;
  }
  .worldrecruithistory__block2 {
    width: 50%;
    padding-right: 10%;
    padding-left: 5%;
  }
  .worldrecruithistory__description {
    font-size: 1.8em;
    padding: 5% 10% 0 10%;
  }
  .worldrecruithistory__img {
    margin: 0 auto;
    width: 100%;
    height: 210px;
  }
}
