.contact {
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  padding: 30px 0 60px 0;
}

.contact__field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.7rem 1rem;
  margin-bottom: 10px;
  transition: 0.3s;
  font-size: 1.8em;
}

.contact__field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact__btn {
  margin: 5px 0 10px 0;
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.8em;
}

.contact__btn:hover {
  background-color: #27ae60;
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  form {
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0 10%;
  }
  .contact:after {
    content: "";
    height: 80%;
    width: 60%;
    bottom: 10%;
    left: -60%;
    background-color: #eff9ff;
    position: absolute;
    z-index: -1;
    border-radius: 0 50% 50% 0;
    transform: scale(2);
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  form {
    width: 40%;
    padding: 30px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0 30%;
  }
  .contact:after {
    content: "";
    height: 100%;
    width: 100%;
    bottom: 10%;
    left: -60%;
    background-color: #eff9ff;
    position: absolute;
    z-index: -1;
    border-radius: 0 50% 50% 0;
    transform: scale(2);
  }
}
