.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.contact__field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.3rem 1rem;
  margin-bottom: 10px;
  transition: 0.3s;
  font-size: 1.8em;
}

.contact__field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact__btn {
  margin: 5px 0 10px 0;
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.8em;
}

.contact__btn:hover {
  background-color: #27ae60;
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .contact {
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - var(--header-menu-height));
    z-index: 1;
    padding: 0;
  }
  .contact_title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
  }

  .contact_description {
    font-size: 2em;
    text-align: center;
    padding: 9%;
    opacity: 0.8;
  }
  .contact__form {
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0 10%;
  }
  .contact:after {
    content: "";
    height: 80%;
    width: 60%;
    bottom: 10%;
    left: -60%;
    background-color: #cae4f3fa;
    position: absolute;
    z-index: -1;
    border-radius: 0 50% 50% 0;
    transform: scale(2);
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .contact {
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0px 0;
  }

  .contact_title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
  }
  .contact_description {
    font-size: 2em;
    text-align: center;
    padding: 1% 5% 1% 5%;
    opacity: 0.8;
  }
  .contact__form {
    width: 40%;
    padding: 15px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    margin: 0 30%;
  }
  .contact:after {
    content: "";
    height: 100vh;
    width: 100%;
    bottom: 10%;
    left: -60%;
    background-color: #cae4f3fa;
    position: absolute;
    z-index: -1;
    border-radius: 0 50% 50% 0;
    transform: scale(2);
  }
}
