/*mobile */
@media screen and (min-width: 320px) {
  .recruit-jobOther {
    background-color: #c1e1ff;
    padding: 3rem 0;
  }

  .recruit-jobOther__title {
  }

  .recruit-jobOther__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .recruit-jobOther__link {
    width: 48%;
    background-color: white;
    margin: 1rem auto;
    padding: 2rem 0;
    border-radius: 10px;
    text-align: center;
    color: #3c64b1;
  }

  .recruit-jobOther__link a {
    text-decoration: none;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .recruit-jobOther__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .recruit-jobOther__link {
    width: 40%;
    background-color: white;
    line-height: 2.5rem;
    padding: 3rem;
    border-radius: 2rem;
    text-align: center;
    color: #3c64b1;
  }

  .recruit-jobOther__link a {
    text-decoration: none;
  }
}

/* Ipad Pro and Desktop */
@media screen and (min-width: 1024px) {
  .recruit-jobOther__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .recruit-jobOther__link {
    width: 34%;
    background-color: white;
    line-height: 2.5rem;
    margin: 2rem 0;
    padding: 4rem;
    border-radius: 2rem;
    color: #3c64b1;
    text-align: center;
    transition: 0.6s;
  }

  .recruit-jobOther__link:hover {
    background-color: #2379db;
    color: white;
  }

  .recruit-jobOther__link a {
    text-decoration: none;
  }
}
