.recruit-detail{
    padding: 0 2rem;
    margin: 3rem 0;
}
.recruit-detail__entry{
    display: block;
    margin: 0 auto;
    width: 15rem;
    font-size: 1.6rem;
    padding: 1rem 4rem;
    color: #ffffff;
    background-color: #2379DB;
    border-radius: 1rem;
    border: none;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.3);
    box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.3);
}

@media screen and (min-width: 550px) {
    .recruit-detail{
        padding: 0 3.5rem;
    }
}

@media screen and (min-width: 768px) {
	.recruit-detail__entry {
        width: 20rem;
		font-size: 1.8rem;
    }
    .recruit-detail{
        padding: 0 5rem;
    }
}
@media screen and (min-width: 1024px) {
	.recruit-detail {
        max-width: 1140px;
        margin: 5rem auto;
    }
    .recruit-detail__entry {
        width: 20rem;
		font-size: 2rem;
	}
}