.recruit-detail{
    padding: 0 2rem;
    margin: 3rem 0;
}

@media screen and (min-width: 550px) {
    .recruit-detail{
        padding: 0 3.5rem;
    }
}

@media screen and (min-width: 768px) {
    .recruit-detail{
        padding: 0 5rem;
    }
}
@media screen and (min-width: 1024px) {
	.recruit-detail {
        max-width: 1140px;
        margin: 5rem auto;
    }
}