/* common card */
.recruit-home-reason__card{
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 3px 1px #D0CDCD;
    border: 2px solid #2090D6;
    border-radius: 15px;
}
.recruit-home-reason__card-image{
    width: 100%;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    object-fit: cover;
}
.recruit-home-reason__card-content{
    margin: auto 20px;
}
.recruit-home-reason__card-content h3{
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
.recruit-home-reason__card-content p {
    opacity: 0.8;
    text-align: justify;
    margin: 30px auto;
}
/* mobile */
@media screen and (min-width: 320px){
    .recruit-home-reason__card{
        width: 70%;
        margin: 30px auto;
    }
    .recruit-home-reason__card-image{
        padding: 20px 0;
        max-width: 50%;
    }
    .recruit-home-reason__card-content h3{
        font-size: 1.8em;
        padding: 0 20px;
    }
    .recruit-home-reason__card-content p{
        font-size: 1.4em;
        padding-bottom: 10px;
    }
}
/* ipad */
@media screen and (min-width: 768px){
    .recruit-home-reason__card{
        width: 43%;
        margin: 50px auto;
    }
    .recruit-home-reason__card-image{
        padding: 20px 0;
        /* padding-top: 10px; */
        max-width: 50%;
    }
    .recruit-home-reason__card-content h3{
        font-size: 2.5em;
    }
    .recruit-home-reason__card-content p{
        font-size: 1.8em;
        padding: 0 10px 10px 10px;
    }
}
/* ipad pro */
@media screen and (min-width: 1024px) {
    .recruit-home-reason__items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .recruit-home-reason__card{
        width: 28%;
        margin: 50px auto;
    }
    .recruit-home-reason__card-image{
        padding-top: 10px;
        max-width: 50%;
    }
    .recruit-home-reason__card-content h3{
        font-size: 2.5em;
    }
    .recruit-home-reason__card-content p{
        font-size: 1.8em;
        padding-bottom: 10px;
    }
}
/* desktop */
@media screen and (min-width: 1366px) {
    .recruit-home-reason__items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .recruit-home-reason__card{
        width: 23%;
        margin: 50px auto;
    }
    .recruit-home-reason__card-image{
        padding-top: 10px;
        max-width: 50%;
    }
    .recruit-home-reason__card-content h3{
        font-size: 2.5em;
    }
    .recruit-home-reason__card-content p{
        font-size: 2em;
        padding-bottom: 10px;
    }
}