.descriptive-icon__wrap img {
  margin: 12% auto auto;
  width: 7%;
  height: auto;
}

.descriptive-icon__description {
  margin: auto;
  font-size: 2em;
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 720px) {
  .descriptive-icon__description {
    font-size: 1.4em;
    width: 80%;
  }
}
