.entrybutton {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 2em;
	right: 1em;
	padding: 10px;
	text-align: center;
	font-size: 2em;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #1e90ff;
	border: none;
	border-radius: 10%;
	z-index: 1000;
	transition: opacity 0.4s;
	opacity: 0;
}

.entrybutton:hover {
	opacity: 1 !important;
}

.entrybutton svg {
	font-size: 1.3em;
	margin-right: 5px;
}

@media all and (max-width: 768px) {
	.entrybutton {
		font-size: 1em;
	}
}

.entrybutton:active {
	background-color: #0000ff;
	box-shadow: 0 2px #666;
	transform: translateY(-4px);
	opacity: 50%;
}

/* .button_hide {
    transform: translate(500px);
    transition: 0.3s;
} */
