.recruit-card {
    border: 3px solid #2379DB;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    -webkit-box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.3);
    box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.3);
}
.recruit-card:first-child{
    margin-top: 2rem;
}
.recruit-card:nth-child(even){
    background-color:#EAF5FF;
}