.row {
	display: flex;
	box-sizing: border-box;
	align-items: flex-start;
	margin: 1.5rem 0.5rem;
}

.row .row__icon {
	margin-right:1.5rem;
}

.row .row__icon svg {
	font-size: 1rem;
	color: #3e66af;
	margin-top: 5px;
}
.row .angle svg {
	font-size: 1.2rem;
}
/* .row .row__description {
	width: 400px;
} */

.row .row__description p {
	font-size: 1.2rem;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 1.8;
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
	.row .row__icon svg {
		font-size: 1.2rem;
		color: #3e66af;
		margin-top: 8px;
	}
	.row .angle svg {
		font-size: 1.4rem;
	}
	.angle {
		font-size: 1.7rem;
	}
	.row .row__icon {
		margin-right:2rem;
	}
	.row .row__description p {
		font-size: 1.7rem
	}
}

/* Desktop */
@media only screen and (min-width: 1024px) {
	.row {
		margin: 1.5rem 0rem;
	}
	.row .row__icon svg {
		font-size: 1.5rem;
		margin-top: 9px;
	}

	.row .row__description p {
		font-size: 2rem;
		letter-spacing: 1px;
		line-height: 1.8;
	}
}

@media only screen and (min-width: 1324px) {
	.row .row__icon {
		width: 5%;
	}
}
