.row {
	display: flex;
	box-sizing: border-box;
	align-items: flex-start;
	justify-content: center;
	margin: 1.5rem auto;
}

.row .row__icon {
	width: 10%;
}

.row .row__icon svg {
	font-size: 1em;
	color: #3e66af;
	margin: 5px 15px 0 0;
}
.angle {
	font-size: 1.2em;
}

.row .row__description {
	width: 400px;
}

.row .row__description p {
	font-size: 1.2em;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 1.8;
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
	.row {
		width: 60vw;
	}
}

/* Desktop */
@media only screen and (min-width: 1024px) {
	.row {
		width: 500px;
	}

	.row .row__icon svg {
		font-size: 1.5em;
		margin-top: 9px;
	}

	.row .row__description p {
		font-size: 2em;
		letter-spacing: 1px;
		line-height: 1.8;
	}
}

@media only screen and (min-width: 1324px) {
	.row .row__icon {
		width: 5%;
	}
}
