.title {
  color: #3c64b1;
  font-weight: bold;
  text-align: center;
  padding: 4rem 3rem 0;
}

/*Iphone (480 x 640)*/
@media screen and (min-width: 320px) {
  .title {
    font-size: 2.5em;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .title {
    font-size: 3.5em;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .title {
    font-size: 3.8em;
  }
}
