.about-us {
	background-color: #5f5e64;
	position: relative;
	overflow: hidden;
	width: 100%;
	z-index: 1;
}

.about-us svg {
	position: absolute;
	top: 5%;
	left: 0;
	z-index: -1;
	width: 100vh;
	height: 100vh;
	transform: rotateZ(-20deg);
}

.about-us__title {
}

.about-us__title h3 {
	color: #fff;
}

.about-us__subtitle {
}

.about-us__subtitle p {
	color: #fff;
}

.about-us__image-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-us__image {
	width: 80%;
	height: 180px;
	z-index: 1;
	object-fit: cover;
	margin-bottom: 30px;
}

.about-us__description {
}

.about-us__description p {
	color: #fff;
}

.about-us__description p:first-of-type {
	padding-top: 1%;
	padding-bottom: 2%;
}

.about-us__description p:last-of-type {
	padding-top: 0;
	padding-bottom: 8%;
}

@media screen and (min-width: 768px) {
	.about-us svg {
		top: -76%;
		left: -23%;
		width: 150%;
		height: 150%;
	}

	.about-us__image-inner {
		flex-direction: row;
	}

	.about-us__image {
		width: 40%;
		height: 200px;
	}

	.about-us__image:first-of-type {
		margin-right: 5%;
	}
	.about-us__description p:last-of-type {
		padding-top: 0;
		padding-bottom: 5%;
	}
}

@media screen and (min-width: 1024px) {
	.about-us svg {
		top: -75vw;
		left: -10%;
		width: 120vw;
		height: 120vw;
	}

	.about-us__image {
		width: 30%;
		height: 220px;
	}

	.about-us__image:first-of-type {
		margin-right: 10%;
	}
}

@media screen and (min-width: 1200px) {
	.about-us__image {
		height: 300px;
	}
}
