.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 2.4em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffbf00;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #2ecc71;
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .button {
    margin: 30px 24% 70px;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .button {
    margin: 30px 35% 70px;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .button {
    margin: 30px 43% 70px;
  }
}
