.characteristic {
  margin: 0;
  padding: 0;
  height: auto;
  margin: 10% auto auto auto;
  background-color: #5f5e64;
  width: 100%;
}
.characteristic__title h3 {
  padding-bottom: 5%;
}
.characteristic__container {
  background-color: #fff;
  border-radius: 0% 100% 0% 0%;
}
.characteristic__container:nth-child(2) {
  border-radius: 0% 0% 100% 0%;
}
.characteristic__card {
  width: 100%;
}
.characteristic__cardBx {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.characteristic__cardBx figure {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  position: relative;
}
.characteristic__cardBx figure img {
  width: 100%;
  height: auto;
  opacity: 0.4;
}
.characteristic__cardBx figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 100;
  opacity: 0;
  transition-delay: 0.3s;
  transition: 0.5s ease;
}
.characteristic__cardBx figcaption p {
  font-size: 1.5em;
  text-align: justify;
  position: absolute;
  margin: 0;
  padding: 0 10%;
  top: 0%;
  height: 100%;
  top: 70%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.characteristic__cardBx figure::before {
  content: "";
  position: absolute;
  transition: 0.5s ease-in-out;
  height: 200%;
  width: 300%;
}
.characteristic__cardBx figure:before {
  right: 0;
  bottom: 0;
  background: rgba(233, 210, 210, 0.5);
  transform: skew(0deg) translateX(100%);
}
.characteristic__container:nth-child(1) .characteristic__cardBx figure:before {
  background: rgba(169, 210, 243, 0.5);
}
.characteristic__cardBx:hover figure:before {
  transform: skew(45deg) translateX(0%);
}
.characteristic__cardBx:hover figcaption {
  opacity: 1;
  color: #1f001d;
}
@media only screen and (max-width: 720px) {
  .characteristic__cardBx figcaption {
    opacity: 1;
  }
  .characteristic__cardBx figure:before {
    transform: skew(0deg) translateX(0%);
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .characteristic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .characteristic__title h3 {
    font-size: 3em;
  }
  .characteristic__cardBx figcaption p {
    font-size: 1.8em;
    top: 60%;
  }
  .characteristic__container {
    border-radius: 0% 0% 0% 100%;
  }
  .characteristic__container:nth-child(2) {
    border-radius: 0% 0% 100% 0%;
  }
  .characteristic__cardBx figure:before {
    transform: skew(0deg) translateX(0%);
  }
  .characteristic__cardBx figcaption {
    opacity: 1;
  }
  .characteristic__container:nth-child(1) .characteristic__card {
    transform: translateY(-30%);
  }
  .characteristic__container:nth-child(1) .characteristic__title {
    transform: translateY(-60%);
  }
}
@media only screen and (min-width: 1024px) {
  .characteristic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .characteristic__container {
    border-radius: 0% 0% 0% 100%;
  }
  .characteristic__container:nth-child(2) {
    border-radius: 0% 0% 100% 0%;
  }
  .characteristic__container:nth-child(1) .characteristic__card {
    transform: translateY(-30%);
  }
  .characteristic__container:nth-child(1) .characteristic__title {
    transform: translateY(-90%);
  }
  .characteristic__cardBx figcaption p {
    font-size: 2em;
  }
}
