/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .detailedwork__title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
  }
  .detailedwork__image {
    padding-top: 20px;
    height: 160px;
    width: 100%;
    object-fit: cover;
  }
  .detailedwork__description {
    text-align: justify;
    margin: 0 10% 5% 10%;
    padding: 30px 10px 0 10px;
  }
  .detailedwork__description > p,
  .detailedwork__description span {
    font-size: 1.5em;
  }
  .detailedwork__description--link {
    font-size: 1.2em;
    padding-left: 1%;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .detailedwork__title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
  }
  .detailedwork__image {
    padding-top: 20px 30px 10px 30px;
    height: 260px;
    width: 100%;
    object-fit: cover;
  }
  .detailedwork__description {
    text-align: justify;
    margin: 0 10% 5% 10%;
    padding-top: 30px;
  }
  .detailedwork__description > p,
  .detailedwork__description span {
    font-size: 2em;
  }
  .detailedwork__description--link {
    font-size: 1.2em;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .detailedwork__title {
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }
  .detailedwork__image {
    padding-top: 20px 30px 10px 30px;
    height: 60vh;
    width: 80%;
    object-fit: cover;
    margin: 0% 10% 0% 10%;
  }
  .detailedwork__description {
    text-align: center;
    margin: 0 10% 1% 10%;
    padding-top: 30px;
  }
  .detailedwork__description > p,
  .detailedwork__description span {
    font-size: 2em;
  }
  .detailedwork__description--link {
    font-size: 1.1em;
  }
}
