/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .detailedwork__title {
<<<<<<< HEAD
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
=======
    padding: 0 3rem 3rem 3rem;
>>>>>>> recruit-dev
  }
  .detailedwork__image {
    width: 100%;
    object-fit: cover;
  }
  .detailedwork__description {
    text-align: justify;
    margin: 0 10% 5% 10%;
    padding: 30px 10px 0 10px;
  }
  .detailedwork__description > p,
  .detailedwork__description span {
    font-size: 1.5em;
  }
  .detailedwork__description--link {
    font-size: 1.2em;
    padding-left: 1%;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .detailedwork__title {
    padding: 0 11rem 3rem 11rem;
  }
  .detailedwork__description {
    text-align: justify;
    margin: 0 10% 5% 10%;
    padding-top: 30px;
  }
  .detailedwork__description > p,
  .detailedwork__description span {
    font-size: 2em;
  }
  .detailedwork__description--link {
    font-size: 1.2em;
  }
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .detailedwork__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
  .detailedwork__title {
<<<<<<< HEAD
    font-size: 3.5em;
    color: #3c64b1;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
=======
    padding: 0rem 0 3.5rem 0;
>>>>>>> recruit-dev
  }
  .detailedwork__image {
    height: 360px;
  }
  .detailedwork__description {
    text-align: center;
    margin: 0 10% 1% 10%;
    padding-top: 30px;
  }
  .detailedwork__description > p,
  .detailedwork__description span {
    font-size: 2em;
  }
  .detailedwork__description--link {
    font-size: 1.1em;
  }
}
