.recruit {
  margin: 0;
  padding: 0;
  background-color: #5f5e64;
  box-sizing: border-box;
}
.recruit__title .title {
  color: #ffffff;
}
.recruit__subtitle .description {
  color: white;
  font-weight: medium;
  text-align: justify;
}
.recruit__image {
  width: 100%;
  height: 150px;
  margin: auto;
  object-fit: cover;
}
.recruit-items {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% auto auto;
  box-sizing: border-box;
}
.recruit-items-box {
  width: 100%;
}
.container {
  padding-top: 2rem;
  background-color: white;
  width: 100%;
}
.container .description {
  text-align: justify;
  margin: 0 auto;
  width: 100%;
}
.recruit-items-box .container .item-icon {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
}
.recruit-items-box hr {
  margin: auto;
}
.recruit-items-box .container .title {
  font-size: 2em;
  color: black;
  padding-top: 5%;
}
.recruit-items-box:nth-child(3) {
  padding-bottom: 5%;
}
.recruit-items-box:nth-child(3) hr {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    height: 35rem;
  }
  .recruit__image {
    height: 250px;
  }
  .recruit-items {
    width: 90%;
    padding-bottom: 5%;
    flex-direction: row;
    justify-content: space-around;
  }
  .recruit-items-box:nth-child(2) {
    margin: 0 2%;
  }
  .recruit-items-box:nth-child(3) {
    padding-bottom: 0%;
  }
  .recruit-items-box:nth-child(3) hr {
    opacity: 1;
  }

  .container .title {
    height: 20%;
    line-height: 1.3;
    font-size: 2em;
    color: black;
    padding: 0 2rem 0 2rem;
  }
  .container .description {
    text-align: left;
    word-spacing: 0.5rem;
    margin: 1rem 0;
    padding: 0 2.5rem;
    height: 50%;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .recruit__image {
    height: 50vh;
    width: 80%;
  }
  .container {
    height: 35rem;
  }
  .recruit-items {
    width: 80%;
    padding-bottom: 5%;
    flex-direction: row;
    justify-content: space-around;
  }
  .recruit-items-box:nth-child(2) {
    margin: 0 2%;
  }
  .recruit-items-box:nth-child(3) hr {
    opacity: 1;
  }

  .recruit-items-box .container .item-icon {
    width: 7rem;
    height: 7rem;
  }
  .container .description {
    padding: 0 3rem;
  }
}
