.technology__description {
  text-align: center;
  opacity: 0.8;
}
.technology__description a{
    text-decoration: none;
    color: darkslateblue;
}


@media screen and (min-width: 320px) {
  .technology__description {
    padding: 5% 10%;

  }
  .technology__description p,a{
    font-size: 15px;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .technology__description {
    padding: 3% 10%;
  }
  .technology__description p,a{
    font-size: 20px;
  }
}

/* Ipad Pro and Desktop */
@media screen and (min-width: 1024px) {
  .technology__description {
    padding: 2% 5%;
  }
  .technology__description p,a{
    font-size: 20px;
  }
  .technology__image{
      width: 80%;
      height: auto;
      margin: auto;
  }
}
