.technology__description {
  text-align: center;
  opacity: 0.8;
}
.technology__description a{
    color: darkslateblue;
    padding-left: 1%;
}


@media screen and (min-width: 320px) {
  .technology__description {
    padding: 5% 10%;

  }
  .technology__description p,a{
    font-size: 15px;
  }
  .technology__image{
    height: 150px;
    width: 100%;
  }
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .technology__description {
    padding: 3% 10%;
  }
  .technology__description p,a{
    font-size: 20px;
  }
  .technology__image{
    height: 250px;
    width: 100%;
  }
}

/* Ipad Pro and Desktop */
@media screen and (min-width: 1024px) {
  .technology__description {
    padding: 2% 5%;
  }
  .technology__description p,a{
    font-size: 20px;
  }
  .technology__image{
      width: 80%;
      height: 350px;
      margin: auto;
  }
}
