.web-application__title h3 {
  padding-top: 8%;
  padding-bottom: 3%;
}
.web-application__img {
  margin-bottom: 3%;
}

.web-application__desciption {
  margin-bottom: 8%;
}
.web-application__desciption p {
  padding-top: 0;
  padding-bottom: 0;
}
.web-application__items {
  position: relative;
  margin: 0 auto 50px auto;
  width: 85%;
  overflow: auto;
  line-height: 1;
}
.web-application__item {
  text-align: center;
  margin-bottom: 40px;
}
.web-application__items--icon {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  padding-bottom: 1em;
}
.web-application__items-description p {
  padding-top: 2%;
}
.web-application__items--left {
  margin-left: 8%;
  width: 38%;
  height: 150px;
  float: left;
}
.web-application__items--right {
  margin-right: 8%;
  width: 38%;
  height: 150px;
  float: right;
}
.web-application__sub-description {
  text-align: center;
  margin: 0 10% 5% 10%;
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .web-application__img {
    width: 100%;
  }
  .web-application__desciption {
    padding-top: 2%;
  }
  .web-application__items {
    width: 80%;
  }
  .web-application__items--icon {
    width: 140px;
    height: 120px;
  }
  .web-application__items--left {
    margin-left: 10%;
    width: 30%;
    height: 180px;
  }
  .web-application__items--right {
    margin-right: 10%;
    width: 30%;
    height: 180px;
  }
}
/* Ipad Pro and Desktop */
@media screen and (min-width: 1024px) {
  .web-application__img {
    object-fit: cover;
    width: 80%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  .web-application__items-description p {
    font-size: 2.8em;
  }
  .web-application__desciption {
    margin-bottom: 4%;
  }
}
