.web-application__title h3 {
  padding-top: 8%;
  padding-bottom: 3%;
}
.web-application__img {
  margin-bottom: 3%;
}

.web-application__desciption {
  margin-bottom: 8%;
}
.web-application__desciption p {
  padding-top: 0;
  padding-bottom: 0;
}
.web-application__items {
  position: relative;
  margin: 0 auto;
  width: 80%;
  overflow: auto;
}
.web-application__item {
  text-align: center;
}
.web-application__items-number div:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 11px;
  transform: translate(-10%, 240%);
  z-index: -1;
}
.web-application__items-number div {
  font-size: 3.5em;
  font-weight: bold;
  height: 43px;
}

.web-application__items--left {
  margin-left: 8%;
  width: 38%;
  height: 100px;
  float: left;
}
.web-application__items--right {
  margin-right: 8%;
  width: 38%;
  height: 100px;
  float: right;
}
.web-application__items-description p {
  font-size: 1.3em;
}
.web-application__sub-description {
  text-align: center;
  margin: 0 10% 5% 10%;
}

/*Ipad vertical(768 x 1024)*/
@media screen and (min-width: 768px) {
  .web-application__img {
    width: 100%;
  }
  .web-application__desciption {
    padding-top: 2%;
  }
  .web-application__items--left {
    margin-left: 10%;
    width: 30%;
    height: 150px;
  }
  .web-application__items--right {
    margin-right: 10%;
    width: 30%;
    height: 150px;
  }

  .web-application__items-number div:before {
    width: 140px;
    height: 13px;
    transform: translate(-25%, 310%);
  }
  .web-application__items-number div {
    font-size: 5em;
    margin-bottom: 8%;
  }
}
/* Ipad Pro and Desktop */
@media screen and (min-width: 1024px) {
  .web-application__img {
    object-fit: cover;
    width: 80%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  .web-application__desciption {
    margin-bottom: 4%;
  }
}
